html {
	background-color: rgb(226, 226, 207);
	font-family: monospace;
	font-size: large;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: max-content;
}

#display {
	font-size: 40px;

	border-style: solid;
	border-radius: 25%;
	border-width: 2px;
	border-color: black;

	margin-top: 1em;

	padding: 22px 36px;


	visibility: hidden;
}

#info {
	font-size: 20px;

	padding-top: 1em;
}